{% load i18n %}
<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register | Najot Ta'lim - Feedback site </title>
    <link rel="shortcut icon" type="ico" href="{% static 'files/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/auth/register/style.css' %}">
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap/templatemo-ebook-landing.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'files/images/favicon.ico' %}" type="image/x-icon">
</head>

<body>

<!--  Body Wrapper -->

<div class="parent-div">
    <div class="main-div">
        <div class="main-logo">
            <a href="/" style="color: #000000">
                <img src="{% static 'files/images/logo.png' %}" alt="404" class="logo-style">
                {% trans "Najot Ta'lim Feedback" %}
            </a>
        </div>
        <div class="form-items">
            <div class="register-animation">

                <dotlottie-player src="https://lottie.host/a7f57d08-f75c-4eb8-b666-074b9d363f86/2M5nHp6gNm.json"
                                  background="transparent" speed="1" style="width: 400px; height: 500px;" loop
                                  autoplay></dotlottie-player>

            </div>
            <div class="register-form" style="height: 50px;">
                <div class="col-lg-12 col-12 mx-auto">
                    <form class="custom-form" action="{% url 'users:register' %}" method="post" role="form">
                        {% csrf_token %}
                        <div class="text-center mb-5">
                            <p class="mb-1" style="text-align: end">{% trans 'Welcome to' %} <h6 style="text-align: end"><b>{% trans "Najot Ta'lim" %}</b></h6></p>
                        </div>
                        <div>
                            <p style="text-align: start"><b>{% trans 'Register' %}</b></p>
                            <div class="input-group mb-3">
                                <input type="text" name="first_name" id="full_name"
                                       class="form-control register-form-input"
                                       aria-label="full_name" aria-describedby="basic-addon1"
                                       placeholder="{% trans 'First name' %}" required>

                                <span class="input-group-text" id="basic-addon1">
                                            <i class="custom-form-icon bi-person"></i>
                                        </span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="username" id="full_name"
                                       class="form-control register-form-input"
                                       aria-label="username" aria-describedby="basic-addon1"
                                       placeholder="{% trans 'Username' %}" required>

                                <span class="input-group-text" id="basic-addon1">
                                            <i class="custom-form-icon bi-person"></i>
                                        </span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" name="email" id="email"
                                       class="form-control register-form-input"
                                       aria-label="user_email" aria-describedby="basic-addon1"
                                       placeholder="{% trans 'Email' %}" required>

                                <span class="input-group-text" id="basic-addon2">
                                            <i class="custom-form-icon bi-person"></i>
                                        </span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" name="password1" id="password"
                                       class="form-control register-form-input"
                                       aria-label="user_password" aria-describedby="basic-addon1"
                                       placeholder="{% trans 'Password' %}" required>

                                <span class="input-group-text" id="basic-addon">
                                            <i class="custom-form-icon bi-person"></i>
                                        </span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" name="password2" id="confirm_password"
                                       class="form-control register-form-input"
                                       aria-label="confirm_password" aria-describedby="basic-addon1"
                                       placeholder="{% trans 'Confirm Password' %}" required>

                                <span class="input-group-text" id="basic-addon3">
                                            <i class="custom-form-icon bi-person"></i>
                                        </span>
                            </div>
                            <div class="col-lg-8 col-md-10 col-8 mx-auto mb-2">
                                <button type="submit" class="form-control"
                                        style="text-align: center">{% trans 'Register' %}</button>
                            </div>
                            <div style="padding-top: 10px; text-align: center">
                                <p style="font-size: 13px">{% trans 'Do you have an account?' %} <a
                                        href="/users/login/">{% trans 'Log in' %}</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Body Wrapper -->

<!--SCRIPT-->
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
        type="module"></script>

<!--SCRIPT-->
</body>

</html>