{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Najot Ta'lim | Offer Form</title>

    <!-- Stylesheets   -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap/templatemo-ebook-landing.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'files/images/favicon.ico' }" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/forms/offer/style.css' %}">

    <link href="{% static 'css/bootstrap/templatemo-ebook-landing.css' %}" rel="stylesheet">

</head>
<body>
<div class="container mt-5 form-offer">
    <div class="row">
        <div class="col-md-6 animation-offer-form mb-4">
            <dotlottie-player src="https://lottie.host/5ac2c618-54f5-4971-abf3-32457e6013a0/3UMOgBkfLK.json"
                              background="transparent" speed="1" loop class="animation-offer"
                              autoplay></dotlottie-player>
            </div>
               
            <div class="col-md-6">
                <div class="btn-group mb-3" role="group">
                    <button type="button" class="btn btn-secondary" id="offerBtn">Offer</button>
                    <button type="button" class="btn btn-secondary active" id="problemBtn">Problem</button>
                </div>
                <a href="/" class="btn btn-secondary back-home">{% trans 'Home' %}</a>
                <form id="submissionForm" method="POST">
                    {% csrf_token %}
                    <h4 class="form-title" id="formTitle">{% trans 'Submit a problem' %}</h4>
                    <div class="form-group mt-4">
                        <label for="submissionTitle">{% trans 'Title' %}</label>
                        <input name="title" type="text" class="form-control" id="submissionTitle" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="submissionDescription">Description</label>
                        <textarea class="form-control" name="description" id="submissionDescription" placeholder="Enter problem description" maxlength="2000"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                </form>
            </div>
            
            <script>
                const offerBtn = document.getElementById('offerBtn');
                const problemBtn = document.getElementById('problemBtn');
                const formTitle = document.getElementById('formTitle');
                const submissionForm = document.getElementById('submissionForm');
            
                function updateButtons(selected) {
                    if (selected === 'offer') {
                        offerBtn.classList.add('active');
                        problemBtn.classList.remove('active');
                        formTitle.textContent = 'Submit a offer';
                        submissionForm.action = "{% url 'feedback:problem' %}";  
                        submissionForm.querySelector('textarea[name="description"]').placeholder = "Enter offer description";
                    } else {
                        problemBtn.classList.add('active');
                        offerBtn.classList.remove('active');
                        formTitle.textContent = 'Submit a problem';
                        submissionForm.action = "{  % url 'feedback:problem' %}";  
                        submissionForm.querySelector('textarea[name="description"]').placeholder = "Enter problem description";
                    }
                }
            
                offerBtn.addEventListener('click', () => updateButtons('offer'));
                problemBtn.addEventListener('click', () => updateButtons('problem'));
            </script>
            
            <style>
                .btn-group .btn.active {
                    background-color: #007bff; /* Tanlangan tugma rangi */
                    color: white; /* Matn rangi */
                }
                .btn-group .btn {
                    color: #333; /* Tugma matni rangi */
                }
            </style>            
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static '../../../js/forms/offer/script.js' %}"></script>

<!-- Animations -->
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
        type="module"></script>
</body>
</html>
